<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Creating New Project</title>
</head>
<body>
<h1>Form: Create A New Member</h1>
<form action="#" th:action="@{/newProject}" th:object="${newProject}" method="post">
    <p>Project ID: <input type="number" th:field="*{projectId}" /></p>
    <p>Project name: <input type="text" th:field="*{projectName}" /></p>
    <p>Project description: <input type="text" th:field="*{projectDescription}"></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>