<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Display Model</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src ="@{/javaScript/jquery-3.4.1.js}"  type="application/javascript"> </script>
    <link th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css" rel="stylesheet">
    <script type="application/javascript" th:src ="@{/javaScript/displayFiles.js}" src = "../static/javaScript/displayFiles.js"> </script>
    <script th:src ="@{/javaScript/FileSaver.js}" src = "../static/javaScript/FileSaver.js" type="application/javascript"> </script>
    <script th:src ="@{/javaScript/moreInformation.js}" src = "../static/javaScript/moreInformation.js" type="application/javascript"> </script>  
    

    <link rel="stylesheet" href="http://206.12.94.204:8080/arslab-web/1.4/api-web-devs/api-web-devs.css">
    <link rel="stylesheet" href="http://206.12.94.204:8080/arslab-web/1.4/app-embed/application.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script async crossorigin="anonymous" type="module">

        import WDSV from 'http://206.12.94.204:8080/arslab-web/1.4/app-embed/WDSV.js';

        $(".runSimulation").click(function (event){
            var name = event.currentTarget.getAttribute('name');
            var node = document.body.querySelector('#viewer-div');
            var viewer = new WDSV(node, { id:name });
            viewer.On("Error", (error) => alert(error.toString()));
        });
      //  showView();
       // $('#iframe').show();
      //  $('#devsWebView').attr('src', "http://localhost/");
      //  $('#devsWebView').attr('src', "http://206.12.94.204:8080/arslab-web/1.4/app-embed/index.html?id=" + name);
       // reSizeIfram();
   


        
    </script>
</head>

<body>

    <div th:replace="header :: header"></div>
   
    <main id ="main">
        <div class = groupTitle>
            <h1 th:utext="${modelName}" ></h1>
            <p> <em th:text="'Model ID:' + ${modelID}"></em></p>
        </div>
        <div class = "itemInformation">
            
            <div class = "itemDescription">
                <h4>About this Model:</h4>
                <p th:utext=" ${modelDescription}"> </p>
                <p>
                    Inputs: <em>n/a</em><br>
                    Outputs: <em>n/a</em><br>
                    Model Type: <em th:text="${modelType}"></em><br>
                    Source Language: <em th:text="${sourceLanguage}"></em>
                </p>
                <p>Created: <em th:text="${modelDate}"></em></p>
            </div>

            <div class = "itemAuthors">
                <h4>Model Authors:</h4>
                <ol>
                    <li th:each = "modelMembersMap : ${modelAuthors}" >
                        <a href="#" th:text = "${modelMembersMap.get('fname')}  + ' ' + ${modelMembersMap.get('lname')} + ' (' + ${modelMembersMap.get('memberid')} + ')'"> </a>
                    </li>
                </ol>
            </div>
            

            <h4> Files</h4>

            
            <div id = "allFilesHolder"></div>
            <div id = "sourceFilesHolder"></div>
            <div id = "convertedFilesHolder"></div>
            <div id = "resultFilesHolder"></div>
            <div id = "viewer-div">
                <div id = "simulationsHolder">

                </div><!--
                <div id = "iframe" hidden>
                   
                   // <iframe id = "devsWebView"  src = "http://206.12.94.204:8080/arslab-web/1.3/app-simple/index.html" ></iframe>   
                </div> -->
            </div>
            


            <div id = "fileTypeSelector" class = "fileContainer">
                
                <div id = "allFilesSelector" class = "fileContainerRow"> 
                    <div class = "folderImage"> 
                        <svg aria-label="Directory"  height="16" viewBox="0 0 16 16" version="1.1" width="16" role="img"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg>
                    </div>
                    <div class= "fileContent">
                        All Files
                    </div>
                    <div id = "allFilesDateModified" class = "dateCreated"></div>
                </div>

                <div id = "sourceSelector" class = "fileContainerRow"> 
                    <div class = "folderImage"> 
                        <svg aria-label="Directory"  height="16" viewBox="0 0 16 16" version="1.1" width="16" role="img"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg>
                    </div>
                    <div class= "fileContent">
                        Source Files
                    </div>
                    <div id = "sourceDateModified" class = "dateCreated"></div>
                </div>
                <div id = "convertedSelector" class = "fileContainerRow"> 
                    <div class = "folderImage"> 
                        <svg aria-label="Directory"  height="16" viewBox="0 0 16 16" version="1.1" width="16" role="img"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg>
                    </div>
                    <div class= "fileContent">
                        Original Result Files
                    </div>
                    <div id = "convertedDateModified" class = "dateCreated"></div>
                </div>
                <div id = "resultSelector" class = "fileContainerRow"> 
                    <div class = "folderImage"> 
                        <svg aria-label="Directory"  height="16" viewBox="0 0 16 16" version="1.1" width="16" role="img"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg>
                    </div>
                    <div class= "fileContent">
                        Converted Results Files
                    </div>
                    <div id = "resultDateModified" class = "dateCreated"></div>
                </div>
                <div id = "simulationsSelector" class = "fileContainerRow"> 
                    <div class = "folderImage"> 
                        <svg aria-label="Directory"  height="16" viewBox="0 0 16 16" version="1.1" width="16" role="img"><path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path></svg>
                    </div>
                    <div class= "fileContent">
                        Simulations
                    </div>
                    <div id = "resultDateModified" class = "dateCreated"></div>
                </div>
            </div>

            <script th:inline="javascript">
                let modelAllFiles = [[${modelAllFiles}]];
                let modelSourceFiles = [[${modelSourceFiles}]];
                let modelResultFiles = [[${modelResultFiles}]];
                let modelConvertedFiles = [[${modelConvertedFiles}]];
                let modelSimulations = [[${modelSimulations}]];
                let byte = [[${link}]];
                let Id = [[${modelID}]];
                let type = "Model";

                displayAllFiles(modelAllFiles,"allFilesHolder","allFilesDateModified","modelAllFiles");
                displayAllFiles(modelSourceFiles,"sourceFilesHolder","sourceDateModified","modelSourceFiles");
                displayAllFiles(modelResultFiles,"resultFilesHolder","convertedDateModified","modelResultFiles");
                displayAllFiles(modelConvertedFiles,"convertedFilesHolder","resultDateModified","modelConvertedFiles");
                processSimulations(modelSimulations);
                
           </script>

            <h4>Projects contaning this Model:</h4>

            <ol>
                <li th:each = "projectModelsMap : ${modelProject}" >
                    <a th:href="@{/get/project/{id}(id=${projectModelsMap.get('projectid')})}" th:text = "${projectModelsMap.get('projectname')}  + ' (' + ${projectModelsMap.get('projectid')} + ')'"> </a>
                    <a class = "showMoreButton" th:name = "'modelProjects' + ${projectModelsMap.get('projectid')}"><svg th:id = "'modelProjects' + ${projectModelsMap.get('projectid')} + 'SVG'" class="infoArrow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16">> <path d="m 13,6 -5,5 -5,-5 z" fill="#0000ff"/></svg><a>                     
                    <div class = "informationDiv" th:id = "'modelProjects' + ${projectModelsMap.get('projectid')} +'Information'" th:text= "${projectModelsMap.get('projectdescription')}"></div>
                </li>
            </ol>

            <h4>Models Composite Structure:</h4>
            <ul id = "modelChildren"></ul>
            <button> <a href="/get/models">Select A Different Model</a> </button>
            





            <script th:inline="javascript">
                
                let modelName = [[${modelName}]];
                let modelParentChildMap = [[${modelParentChildMap}]];
               

                let string = recursiveParentChildPrint(modelParentChildMap,65, 0);
                document.getElementById("modelChildren").innerHTML = "<li> <strong>" + modelName + "</strong><ul>" + string + "</ul> </li>";

                function recursiveParentChildPrint(modelChildrenMap,id,level){
                    let listContents = "";
                        let parentMap = modelParentChildMap[id];
                        if(parentMap != undefined){
                            let keys = Object.keys(parentMap);
                            for(key of keys){       
                                    let child = parentMap[key];
                                    let kezz = Object.keys(child);
                                    
                                    for(k of kezz){
                                        listContents += "<li> " + 
                                            "<a href=\"/get/model/" + child[k]["modelid"] + "\">" + child[k]["modelname"] + "</a>" +
                                            "<a class = 'showMoreButton' name = modelSubModels" + child[k]["modelid"] + "><svg id = 'modelSubModels" + child[k] + "SVG' class='infoArrow ' xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" width=\"16\" height=\"16\">> <path d=\"m 13,6 -5,5 -5,-5 z\" fill=\"#0000ff\"/></svg><a>" + 
                                            "<div class = 'informationDiv' id = 'modelSubModels" + child[k]["modelid"] +"Information'>" +
                                                child[k]["description"] +
                                            "</div>" +
                                        "</li>";
                                        ;
                                        listContents += "<ul>" + recursiveParentChildPrint(modelChildrenMap,k,level+1)  + "</ul>";
                                
                                    }
                                    
                                }  
                        }
                    return listContents;
                }


            </script>
        </div>
    </main>   
    
        
</body>
</html>
