<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>LocalHost:8080 Add Members to Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
</head>

<body>


<div th:replace="header :: header"></div>
   
<main>
    <div class = groupTitle>
        <h1 th:utext="${projectName}" ></h1>
        <p> <em th:text="'Project ID:' + ${projectID}"></em></p>
    </div>
    
    <p th:utext=" ${projectDescription}"> </p>

    <h4>Project Members:</h4>

    <ol>
        <li th:each = "projectMembersMap : ${projectMembers}" >
            <a href="#" th:text = "${projectMembersMap.get('fname')}  + ' ' + ${projectMembersMap.get('lname')} + ' (' + ${projectMembersMap.get('memberid')} + ')'"> </a>
        </li>
    </ol>

    <h4>Project Models:</h4>

    <ol>
        <li th:each = "projectModelsMap : ${projectModels}" >
            <a th:href="@{/get/model/{id}(id=${projectModelsMap.get('modelid')})}" th:text = "${projectModelsMap.get('modelname')}  + ' (' + ${projectModelsMap.get('modelid')} + ')'"> </a>
        </li>
    </ol>

    <p>Created <em th:text="${projectDate}"></em></p>
    <button> <a href="/get/projects">Choose A Different Project</a> </button>
</body>
</html>
