
<header>
<div id="blackBar">

</div>
<div id="headerContainer">
    <div class="headerLogo">
            <div id = "headerImage">
                <div itemscope="" itemtype="https://schema.org/Brand">
                    <a id = "imagelink" href="sim.services\src\main\resources\" class="custom-logo-link" rel="home">
                        
                       <!-- <img id = "arsImageTextHolder" width="200" height="103" src = "..\static\images\carleton-university-vector-logo.png" th:src=="@{/images/carleton-university-vector-logo.png}" class="custom-logo" alt="Simulation Everywhere "> -->
                        
                        <img id = "arsImage" width="225" height="100" src = "../static/images/carleton-university-vector-logo.png" th:src=="@{/images/carleton-university-vector-logo.png}" class="custom-logo" alt="Simulation Everywhere ">
                    </a>
                </div>						
            </div>
            <div id="headerBody">
                <p id = "arsSlogan">4th-Year Engineering Project </p>
                <p id = "simulationEverywhereLink">Jacob Laboissonniere, Jon Menard, Chang Qiu, Paul Roode</p>
            </div>
    </div>
</div>
<div id="blackBar">
    <br>
    Front-End Development
</div>
</header>