<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>LocalHost:8080 Add Members to Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  href = "../static/css/main.css" th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
    </head>
<body>
    <div th:replace="header :: header"></div>
    <main>
        <h1>Create a New Project</h1>
        <p th:text="${greeting}"></p>

        <form action="#" th:action="@{/insert/project}" th:object="${insertNewProject}" method="post">
            <div class = "formTwoColumn">
                <div class = "formElement">
                    <label for="projectName">Project name:</label>
                    <input name = "projectName" type="text" th:field="*{projectName}" />
                </div>
                <div class = "formElement">
                    <label for="projectDate">Start date:</label>
                    <input name = "projectDate" type="date" th:field="*{creationDate}" />
                </div>
            </div>
            <div class = "formElement">
                <label for="projectDescription">Project description:</label>
                <textarea name = "projectDescription" type="text" rows="20"  th:field="*{projectDescription}"></textarea>
            </div>
            <div class = "formTwoColumn">
                <input type="submit" value="Submit" /> 
                <input type="reset" value="Reset" />
            </div>
        </form>
    </main>
</body>
</html>